<style>
    @import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
    *{
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
    box-sizing:border-box;
    }
    .about{
    background-color:#A4BE7B;
    padding: 20px;
    }
    .about h2{
    font-size: 30px;
    }
    .box2{
    background-color: #5F8D4E;
    width: 80%;
    height: 200px;
    border-radius: 20px;
    
    }
    .box2 p{
    font-size: 25px;
    text-align: center;
    padding: 20px;
    }
</style>

<div class="creator"><br><br>
    <center>
        <img src="avatar.svg" alt="avatar" style="width: 150px;">
        <h1>Adelia Putri</h1><br>
        <p>From eleven software engineering 1. <br> A winner is a dreamer who never gives up </p>
    </div><br>
    </center>
    <center>
    <div class="about">
        <h2>About Creator</h2><br>
        <div class="box2">
            <P class="me">Hi I am adelia, from eleventh grade Software engineering 1. I was born in Bekasi 12, February 2006. My hobbies are reading novels and listening to music. my zodiac sign is aquarius, and my own mbti type is INTJ.</P>
        </div>
    </center>
    </div>
