<style>
        @import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
 *{
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
    box-sizing:border-box;
}

.ftr{
    background-color: #285430;
    display: flex;
    height: 250px;
}
.ftr .logo1{
    height: 150px;
}
.brand{
    display: flex;
}
.ftr .brand h2{
    color: #f1dc65;
    font-size: 35px;
    margin-top: 45px;
}
.ftr .email{
    margin-left: 30px;
}
.ftr .email a{
    color: #fff;
}
.ftr .email a:hover{
    color: #f1dc65;
}
.ftr .phone{
    margin-left: 30px;
}
.ftr .phone a{
    color: #fff;
}
.ftr .phone a:hover{
    color: #f1dc65;
}
.ftr .fa-twitter{
    color: #fff;
    font-size: 25px;
}
.fa-twitter:hover{
    transition: 0.3s;
    transform: scale(0.9);
}
.fa-instagram:hover{
    transition: 0.3s;
    transform: scale(0.9);
}
.fa-facebook:hover{
    transition: 0.3s;
    transform: scale(0.9);
}
.ftr .fa-instagram{
    color: #fff;
    font-size: 25px;
}
.ftr .fa-facebook{
    color: #fff;
    font-size: 25px;
}
.brand .acc{
    margin-left: 600px;
    margin-top: 20px;
}
table td{
    padding: 12px;
}
table th{
    padding: 12px;
}
table h3{
    color: white;
    list-style: none;
}
table h3:hover{
    color: #f1dc65;
}
</style>

<div class="ftr">
    <footer>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

        <div class="brand">
            <img src="chlogo.png" class="logo1" alt="logo">
            <h2>RAINCALA</h2>

            <div class="acc">
    
                <table>
                    <tr>
                        <td><a href="index.html"><h3>Home</h3></a></td>
                        <td><a href="about.html"><h3>About</h3></a></td>
                        <td><a href="join.html"><h3>Join Us</h3></a></td>
                    </tr>
                    <tr>
                        <th><a href="https://twitter.com/login"><i class="fa-brands fa-twitter"></i></a></th>
                        <th><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></th>
                        <th><a href="https://web.facebook.com/?_rdc=1&_rdr"></a><i class="fa-brands fa-facebook"></i></a></th>
                    </tr>
                </table>
            </div>
        </div>
    <div class="email">
        <i class="fa-solid fa-envelope"></i>
        <a href="sastrabelvan@gmail.com">sastrabelvan@gmail.com</a>
    </div><br>
    <div class="phone">
        <i class="fa-solid fa-phone"></i>
        <a href="+6289508430491">+6289508430491</a>
    </div>

    </footer>
</div>